devel/eTanahPortal/clientWebService/src/wsdl/PerkhidmatanAtasTalian_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/perkhidmatanOnlineWS" xmlns:ns1="http://ws.service.portal.view.etanah" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://localhost:8080/perkhidmatanOnlineWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://localhost:8080/perkhidmatanOnlineWS">
      <xsd:element name="statusTukarGantiByPartial">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="statusTukarGantiByPartialResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:StatusTukarGanti"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findStatusTukarGanti">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findStatusTukarGantiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:StatusTukarGanti"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findStatusPermohonan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findStatusPermohonanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:StatusPermohonan"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.service.portal.view.etanah">
      <xsd:complexType name="StatusTukarGanti">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="daerah" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="diDaftarOleh" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="idHakmilik" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="noLot" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tarikh" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="versi" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StatusPermohonan">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="keputusanOleh" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="kodUrusan" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="namaUrusan" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tarikhKeputusan" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="statusTukarGantiByPartialRequest">
    <wsdl:part name="parameters" element="tns:statusTukarGantiByPartial"/>
  </wsdl:message>
  <wsdl:message name="statusTukarGantiByPartialResponse">
    <wsdl:part name="parameters" element="tns:statusTukarGantiByPartialResponse"/>
  </wsdl:message>
  <wsdl:message name="findStatusTukarGantiRequest">
    <wsdl:part name="parameters" element="tns:findStatusTukarGanti"/>
  </wsdl:message>
  <wsdl:message name="findStatusTukarGantiResponse">
    <wsdl:part name="parameters" element="tns:findStatusTukarGantiResponse"/>
  </wsdl:message>
  <wsdl:message name="findStatusPermohonanRequest">
    <wsdl:part name="parameters" element="tns:findStatusPermohonan"/>
  </wsdl:message>
  <wsdl:message name="findStatusPermohonanResponse">
    <wsdl:part name="parameters" element="tns:findStatusPermohonanResponse"/>
  </wsdl:message>
  <wsdl:portType name="PerkhidmatanAtasTalianPortType">
    <wsdl:operation name="statusTukarGantiByPartial">
      <wsdl:input name="statusTukarGantiByPartialRequest" message="tns:statusTukarGantiByPartialRequest"/>
      <wsdl:output name="statusTukarGantiByPartialResponse" message="tns:statusTukarGantiByPartialResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findStatusTukarGanti">
      <wsdl:input name="findStatusTukarGantiRequest" message="tns:findStatusTukarGantiRequest"/>
      <wsdl:output name="findStatusTukarGantiResponse" message="tns:findStatusTukarGantiResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findStatusPermohonan">
      <wsdl:input name="findStatusPermohonanRequest" message="tns:findStatusPermohonanRequest"/>
      <wsdl:output name="findStatusPermohonanResponse" message="tns:findStatusPermohonanResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PerkhidmatanAtasTalianHttpBinding" type="tns:PerkhidmatanAtasTalianPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="statusTukarGantiByPartial">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="statusTukarGantiByPartialRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="statusTukarGantiByPartialResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findStatusTukarGanti">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="findStatusTukarGantiRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findStatusTukarGantiResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findStatusPermohonan">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="findStatusPermohonanRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findStatusPermohonanResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerkhidmatanAtasTalian">
    <wsdl:port name="PerkhidmatanAtasTalianHttpPort" binding="tns:PerkhidmatanAtasTalianHttpBinding">
      <wsdlsoap:address location="http://10.66.130.1/etanah/services/PerkhidmatanAtasTalian"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>