devel/eTappClient/src/main/wsdl/etapp_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><definitions targetNamespace="http://ws.etapp.etanah/" name="EtappClientServiceImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.etapp.etanah/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.etapp.etanah/" schemaLocation="etapp.xsd"/>
    </xsd:schema>
  </types>
  <message name="hantarBorangA">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="hantarBorangAResponse">
    <part name="return" type="tns:statusForm"/>
  </message>
  <message name="hantarBorangB">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="hantarBorangBResponse">
    <part name="return" type="tns:statusForm"/>
  </message>
  <message name="hantarMMK">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="hantarMMKResponse">
    <part name="return" type="tns:statusForm"/>
  </message>
  <message name="hantarBorangD">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="hantarBorangDResponse">
    <part name="return" type="tns:statusForm"/>
  </message>
  <message name="hantarBorangK">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="hantarBorangKResponse">
    <part name="return" type="tns:statusForm"/>
  </message>
  <message name="hantarSijilUkur">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="hantarSijilUkurResponse">
    <part name="return" type="tns:statusForm"/>
  </message>
  <message name="hantarHakmilikSambungan">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="hantarHakmilikSambunganResponse">
    <part name="return" type="tns:statusForm"/>
  </message>
  <portType name="EtappClientService">
    <operation name="hantarBorangA" parameterOrder="arg0 arg1">
      <input message="tns:hantarBorangA"/>
      <output message="tns:hantarBorangAResponse"/>
    </operation>
    <operation name="hantarBorangB" parameterOrder="arg0 arg1">
      <input message="tns:hantarBorangB"/>
      <output message="tns:hantarBorangBResponse"/>
    </operation>
    <operation name="hantarMMK" parameterOrder="arg0 arg1">
      <input message="tns:hantarMMK"/>
      <output message="tns:hantarMMKResponse"/>
    </operation>
    <operation name="hantarBorangD" parameterOrder="arg0 arg1">
      <input message="tns:hantarBorangD"/>
      <output message="tns:hantarBorangDResponse"/>
    </operation>
    <operation name="hantarBorangK" parameterOrder="arg0 arg1">
      <input message="tns:hantarBorangK"/>
      <output message="tns:hantarBorangKResponse"/>
    </operation>
    <operation name="hantarSijilUkur" parameterOrder="arg0 arg1">
      <input message="tns:hantarSijilUkur"/>
      <output message="tns:hantarSijilUkurResponse"/>
    </operation>
    <operation name="hantarHakmilikSambungan" parameterOrder="arg0 arg1">
      <input message="tns:hantarHakmilikSambungan"/>
      <output message="tns:hantarHakmilikSambunganResponse"/>
    </operation>
  </portType>
  <binding name="EtappClientServiceImplPortBinding" type="tns:EtappClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="hantarBorangA">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </output>
    </operation>
    <operation name="hantarBorangB">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </output>
    </operation>
    <operation name="hantarMMK">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </output>
    </operation>
    <operation name="hantarBorangD">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </output>
    </operation>
    <operation name="hantarBorangK">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </output>
    </operation>
    <operation name="hantarSijilUkur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </output>
    </operation>
    <operation name="hantarHakmilikSambungan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.etapp.etanah/"/>
      </output>
    </operation>
  </binding>
  <service name="EtappClientServiceImplService">
    <port name="EtappClientServiceImplPort" binding="tns:EtappClientServiceImplPortBinding">
      <soap:address location="http://192.168.0.10:9999/ws/etapp"/>
    </port>
  </service>
</definitions>