devel/eTanahClientWS/src/wsdl/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01.--><xs:schema version="1.0" targetNamespace="http://ws.myetapp/" xmlns:tns="http://ws.myetapp/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="tns:document"/>
  <xs:element name="Dokumen" type="tns:dokumen"/>
  <xs:element name="EtanahApplicationResponse" type="tns:etanahApplicationResponse"/>
  <xs:element name="Hakmilik" type="tns:hakmilik"/>
  <xs:element name="Holder" type="tns:holder"/>
  <xs:element name="InsApplicationResponse" type="tns:insApplicationResponse"/>
  <xs:element name="Kaveat" type="tns:kaveat"/>
  <xs:element name="ListData" type="tns:listData"/>
  <xs:element name="Permohonan" type="tns:permohonan"/>
  <xs:element name="TanahApplicationResponse" type="tns:tanahApplicationResponse"/>
  <xs:element name="UpdateApplicationResponse" type="tns:updateApplicationResponse"/>
  <xs:complexType name="permohonan">
    <xs:sequence>
      <xs:element name="listHakmilik" type="tns:hakmilik" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="listDokumen" type="tns:dokumen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="noFail" type="xs:string" minOccurs="0"/>
      <xs:element name="noJilid" type="xs:string" minOccurs="0"/>
      <xs:element name="noPU" type="xs:string" minOccurs="0"/>
      <xs:element name="noRujukan" type="xs:string" minOccurs="0"/>
      <xs:element name="noWarta" type="xs:string" minOccurs="0"/>
      <xs:element name="tarikh" type="xs:string" minOccurs="0"/>
      <xs:element name="tarikhKeputusan" type="xs:string" minOccurs="0"/>
      <xs:element name="tarikhWarta" type="xs:string" minOccurs="0"/>
      <xs:element name="catatan" type="xs:string" minOccurs="0"/>
      <xs:element name="catatanKeputusan" type="xs:string" minOccurs="0"/>
      <xs:element name="jenis" type="xs:string" minOccurs="0"/>
      <xs:element name="keputusan" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hakmilik">
    <xs:sequence>
      <xs:element name="idHakmilik" type="xs:string" minOccurs="0"/>
      <xs:element name="idHakmilikSambungan" type="xs:string" minOccurs="0"/>
      <xs:element name="kodNegeri" type="xs:string" minOccurs="0"/>
      <xs:element name="kodDaerah" type="xs:string" minOccurs="0"/>
      <xs:element name="kodMukim" type="xs:string" minOccurs="0"/>
      <xs:element name="kodHakmilik" type="xs:string" minOccurs="0"/>
      <xs:element name="noHakmilik" type="xs:string" minOccurs="0"/>
      <xs:element name="kodLot" type="xs:string" minOccurs="0"/>
      <xs:element name="noLot" type="xs:string" minOccurs="0"/>
      <xs:element name="noSeksyen" type="xs:string" minOccurs="0"/>
      <xs:element name="kodLuasSambungan" type="xs:string" minOccurs="0"/>
      <xs:element name="luasSambungan" type="xs:string" minOccurs="0"/>
      <xs:element name="noPerserahan" type="xs:string" minOccurs="0"/>
      <xs:element name="tarikhEndorsan" type="xs:string" minOccurs="0"/>
      <xs:element name="masaEndorsan" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dokumen">
    <xs:sequence>
      <xs:element name="jenisDokumen" type="xs:string" minOccurs="0"/>
      <xs:element name="jenisMime" type="xs:string" minOccurs="0"/>
      <xs:element name="namaDokumen" type="xs:string" minOccurs="0"/>
      <xs:element name="doContent" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tanahApplicationResponse">
    <xs:complexContent>
      <xs:extension base="tns:updateApplicationResponse">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateApplicationResponse">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="detail" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="kaveat">
    <xs:sequence>
      <xs:element name="petitionNo" type="xs:string" minOccurs="0"/>
      <xs:element name="appliedDate" type="xs:string" minOccurs="0"/>
      <xs:element name="applicantName" type="xs:string" minOccurs="0"/>
      <xs:element name="representative" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="holder">
    <xs:sequence>
      <xs:element name="petitionNo" type="xs:string" minOccurs="0"/>
      <xs:element name="caseFilingDate" type="xs:string" minOccurs="0"/>
      <xs:element name="applicantName" type="xs:string" minOccurs="0"/>
      <xs:element name="petitioner" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document">
    <xs:sequence>
      <xs:element name="docID" type="xs:string" minOccurs="0"/>
      <xs:element name="docType" type="xs:string" minOccurs="0"/>
      <xs:element name="docContent" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insApplicationResponse">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="detail" type="xs:string" minOccurs="0"/>
      <xs:element name="listMaklumatPusaka" type="tns:maklumatPusaka" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="maklumatPusaka">
    <xs:sequence>
      <xs:element name="alamat1Pemohon" type="xs:string" minOccurs="0"/>
      <xs:element name="alamat2Pemohon" type="xs:string" minOccurs="0"/>
      <xs:element name="alamat3Pemohon" type="xs:string" minOccurs="0"/>
      <xs:element name="bandar" type="xs:string" minOccurs="0"/>
      <xs:element name="hubungan" type="xs:string" minOccurs="0"/>
      <xs:element name="idNegeri" type="xs:string" minOccurs="0"/>
      <xs:element name="namaPemohon" type="xs:string" minOccurs="0"/>
      <xs:element name="namaSimati" type="xs:string" minOccurs="0"/>
      <xs:element name="noFail" type="xs:string" minOccurs="0"/>
      <xs:element name="noKpBaru" type="xs:string" minOccurs="0"/>
      <xs:element name="noKpLain" type="xs:string" minOccurs="0"/>
      <xs:element name="noKpLama" type="xs:string" minOccurs="0"/>
      <xs:element name="nokpPemohon" type="xs:string" minOccurs="0"/>
      <xs:element name="poskod" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="tarikhMati" type="xs:string" minOccurs="0"/>
      <xs:element name="tarikhMohon" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listData">
    <xs:sequence>
      <xs:element name="listHakmilik" type="tns:hakmilik" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="listDokumen" type="tns:dokumen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="etanahApplicationResponse">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="detail" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tanah">
    <xs:complexContent>
      <xs:extension base="tns:updateApplicationResponse">
        <xs:sequence>
          <xs:element name="jenisHakmilik" type="xs:string" minOccurs="0"/>
          <xs:element name="kegunaan" type="xs:string" minOccurs="0"/>
          <xs:element name="kodAgensi" type="xs:string" minOccurs="0"/>
          <xs:element name="kodDaerah" type="xs:string" minOccurs="0"/>
          <xs:element name="kodKementerian" type="xs:string" minOccurs="0"/>
          <xs:element name="kodLot" type="xs:string" minOccurs="0"/>
          <xs:element name="kodMukim" type="xs:string" minOccurs="0"/>
          <xs:element name="kodNegeri" type="xs:string" minOccurs="0"/>
          <xs:element name="latitude" type="xs:string" minOccurs="0"/>
          <xs:element name="luas" type="xs:double"/>
          <xs:element name="luasKeterangan" type="xs:string" minOccurs="0"/>
          <xs:element name="noFail" type="xs:string" minOccurs="0"/>
          <xs:element name="noHakmilik" type="xs:string" minOccurs="0"/>
          <xs:element name="noLot" type="xs:string" minOccurs="0"/>
          <xs:element name="noWarta" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="statusHakmilik" type="xs:string" minOccurs="0"/>
          <xs:element name="tarikhDaftar" type="xs:string" minOccurs="0"/>
          <xs:element name="UPI" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tanahArray" final="#all">
    <xs:sequence>
      <xs:element name="item" type="tns:tanah" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>