devel/etanahWSA/src/wsdl/192.168.0.10_7009/etanah/services/CarianPersendirian_Online.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    
     targetNamespace="http://localhost:8080/carianPersendirianOnlineWS"
     xmlns:ns2="http://ws.dokumen.view.etanah"
     xmlns:ns1="http://ws.portal.view.etanah"
     xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
     xmlns:tns="http://localhost:8080/carianPersendirianOnlineWS"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
    >
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://localhost:8080/carianPersendirianOnlineWS">
<xsd:element name="checkAccountByParam">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountByParamResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfCarianInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="listKodDaerah">
<xsd:complexType/>
</xsd:element>
<xsd:element name="listKodDaerahResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfUtilKod"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="senaraiDokumen">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="senaraiDokumenResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfDokumenCarianPersendirian"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateCarianAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:decimal"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in5" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in6" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateCarianAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountByNoLot">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountByNoLotResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfCarianInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountStrataByParam">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in5" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in6" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in7" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountStrataByParamResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfCarianInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountStrataByNoLot">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in5" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in6" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in7" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountStrataByNoLotResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfCarianInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="listKodSeksyen">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="listKodSeksyenResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfUtilKod"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="listKodLot">
<xsd:complexType/>
</xsd:element>
<xsd:element name="listKodLotResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfUtilKod"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="listKodMukim">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="listKodMukimResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfUtilKod"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="muatturundokumen">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="muatturundokumenResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:DokumenInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="listKodHakmilik">
<xsd:complexType/>
</xsd:element>
<xsd:element name="listKodHakmilikResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfUtilKod"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfCarianInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.portal.view.etanah">
<xsd:complexType name="ArrayOfCarianInfo">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CarianInfo" nillable="true" type="ns1:CarianInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CarianInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="akaunBatal" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="alamat" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="bakiAkaun" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="bandarpekanmukim" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="icPembayar" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="icPemilik" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="idHakmilik" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="jenisHakmilik" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="kodCaw" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="kodCawValue" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="kodDaerah" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="namaPembayar" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="namaPemilik" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="noAkaun" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="noBangunan" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="noHakmilik" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="noPetak" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="noTingkat" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfUtilKod">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="UtilKod" nillable="true" type="ns1:UtilKod"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UtilKod">
<xsd:sequence>
<xsd:element minOccurs="0" name="kod" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="nama" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDokumenCarianPersendirian">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DokumenCarianPersendirian" nillable="true" type="ns1:DokumenCarianPersendirian"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DokumenCarianPersendirian">
<xsd:sequence>
<xsd:element minOccurs="0" name="bilPaparan" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="idHakmilik" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="idPortalTransaksi" nillable="true" type="xsd:long"/>
<xsd:element minOccurs="0" name="tarikh" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.dokumen.view.etanah">
<xsd:complexType name="DokumenInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="bytes" nillable="true" type="xsd:base64Binary"/>
<xsd:element minOccurs="0" name="docType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="fileName" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="checkAccountByParamRequest">
        <wsdl:part name="parameters" element="tns:checkAccountByParam"/>
    </wsdl:message>
    <wsdl:message name="checkAccountByParamResponse">
        <wsdl:part name="parameters" element="tns:checkAccountByParamResponse"/>
    </wsdl:message>
    <wsdl:message name="listKodDaerahRequest">
        <wsdl:part name="parameters" element="tns:listKodDaerah"/>
    </wsdl:message>
    <wsdl:message name="listKodDaerahResponse">
        <wsdl:part name="parameters" element="tns:listKodDaerahResponse"/>
    </wsdl:message>
    <wsdl:message name="senaraiDokumenRequest">
        <wsdl:part name="parameters" element="tns:senaraiDokumen"/>
    </wsdl:message>
    <wsdl:message name="senaraiDokumenResponse">
        <wsdl:part name="parameters" element="tns:senaraiDokumenResponse"/>
    </wsdl:message>
    <wsdl:message name="updateCarianAccountRequest">
        <wsdl:part name="parameters" element="tns:updateCarianAccount"/>
    </wsdl:message>
    <wsdl:message name="updateCarianAccountResponse">
        <wsdl:part name="parameters" element="tns:updateCarianAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="checkAccountByNoLotRequest">
        <wsdl:part name="parameters" element="tns:checkAccountByNoLot"/>
    </wsdl:message>
    <wsdl:message name="checkAccountByNoLotResponse">
        <wsdl:part name="parameters" element="tns:checkAccountByNoLotResponse"/>
    </wsdl:message>
    <wsdl:message name="checkAccountStrataByParamRequest">
        <wsdl:part name="parameters" element="tns:checkAccountStrataByParam"/>
    </wsdl:message>
    <wsdl:message name="checkAccountStrataByParamResponse">
        <wsdl:part name="parameters" element="tns:checkAccountStrataByParamResponse"/>
    </wsdl:message>
    <wsdl:message name="checkAccountStrataByNoLotRequest">
        <wsdl:part name="parameters" element="tns:checkAccountStrataByNoLot"/>
    </wsdl:message>
    <wsdl:message name="checkAccountStrataByNoLotResponse">
        <wsdl:part name="parameters" element="tns:checkAccountStrataByNoLotResponse"/>
    </wsdl:message>
    <wsdl:message name="listKodSeksyenRequest">
        <wsdl:part name="parameters" element="tns:listKodSeksyen"/>
    </wsdl:message>
    <wsdl:message name="listKodSeksyenResponse">
        <wsdl:part name="parameters" element="tns:listKodSeksyenResponse"/>
    </wsdl:message>
    <wsdl:message name="listKodLotRequest">
        <wsdl:part name="parameters" element="tns:listKodLot"/>
    </wsdl:message>
    <wsdl:message name="listKodLotResponse">
        <wsdl:part name="parameters" element="tns:listKodLotResponse"/>
    </wsdl:message>
    <wsdl:message name="listKodMukimRequest">
        <wsdl:part name="parameters" element="tns:listKodMukim"/>
    </wsdl:message>
    <wsdl:message name="listKodMukimResponse">
        <wsdl:part name="parameters" element="tns:listKodMukimResponse"/>
    </wsdl:message>
    <wsdl:message name="muatturundokumenRequest">
        <wsdl:part name="parameters" element="tns:muatturundokumen"/>
    </wsdl:message>
    <wsdl:message name="muatturundokumenResponse">
        <wsdl:part name="parameters" element="tns:muatturundokumenResponse"/>
    </wsdl:message>
    <wsdl:message name="listKodHakmilikRequest">
        <wsdl:part name="parameters" element="tns:listKodHakmilik"/>
    </wsdl:message>
    <wsdl:message name="listKodHakmilikResponse">
        <wsdl:part name="parameters" element="tns:listKodHakmilikResponse"/>
    </wsdl:message>
    <wsdl:message name="checkAccountRequest">
        <wsdl:part name="parameters" element="tns:checkAccount"/>
    </wsdl:message>
    <wsdl:message name="checkAccountResponse">
        <wsdl:part name="parameters" element="tns:checkAccountResponse"/>
    </wsdl:message>
    <wsdl:portType name="CarianPersendirian_OnlinePortType">
        <wsdl:operation name="checkAccountByParam">
            <wsdl:input name="checkAccountByParamRequest" message="tns:checkAccountByParamRequest"/>
            <wsdl:output name="checkAccountByParamResponse" message="tns:checkAccountByParamResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listKodDaerah">
            <wsdl:input name="listKodDaerahRequest" message="tns:listKodDaerahRequest"/>
            <wsdl:output name="listKodDaerahResponse" message="tns:listKodDaerahResponse"/>
        </wsdl:operation>
        <wsdl:operation name="senaraiDokumen">
            <wsdl:input name="senaraiDokumenRequest" message="tns:senaraiDokumenRequest"/>
            <wsdl:output name="senaraiDokumenResponse" message="tns:senaraiDokumenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateCarianAccount">
            <wsdl:input name="updateCarianAccountRequest" message="tns:updateCarianAccountRequest"/>
            <wsdl:output name="updateCarianAccountResponse" message="tns:updateCarianAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkAccountByNoLot">
            <wsdl:input name="checkAccountByNoLotRequest" message="tns:checkAccountByNoLotRequest"/>
            <wsdl:output name="checkAccountByNoLotResponse" message="tns:checkAccountByNoLotResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkAccountStrataByParam">
            <wsdl:input name="checkAccountStrataByParamRequest" message="tns:checkAccountStrataByParamRequest"/>
            <wsdl:output name="checkAccountStrataByParamResponse" message="tns:checkAccountStrataByParamResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkAccountStrataByNoLot">
            <wsdl:input name="checkAccountStrataByNoLotRequest" message="tns:checkAccountStrataByNoLotRequest"/>
            <wsdl:output name="checkAccountStrataByNoLotResponse" message="tns:checkAccountStrataByNoLotResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listKodSeksyen">
            <wsdl:input name="listKodSeksyenRequest" message="tns:listKodSeksyenRequest"/>
            <wsdl:output name="listKodSeksyenResponse" message="tns:listKodSeksyenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listKodLot">
            <wsdl:input name="listKodLotRequest" message="tns:listKodLotRequest"/>
            <wsdl:output name="listKodLotResponse" message="tns:listKodLotResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listKodMukim">
            <wsdl:input name="listKodMukimRequest" message="tns:listKodMukimRequest"/>
            <wsdl:output name="listKodMukimResponse" message="tns:listKodMukimResponse"/>
        </wsdl:operation>
        <wsdl:operation name="muatturundokumen">
            <wsdl:input name="muatturundokumenRequest" message="tns:muatturundokumenRequest"/>
            <wsdl:output name="muatturundokumenResponse" message="tns:muatturundokumenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listKodHakmilik">
            <wsdl:input name="listKodHakmilikRequest" message="tns:listKodHakmilikRequest"/>
            <wsdl:output name="listKodHakmilikResponse" message="tns:listKodHakmilikResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkAccount">
            <wsdl:input name="checkAccountRequest" message="tns:checkAccountRequest"/>
            <wsdl:output name="checkAccountResponse" message="tns:checkAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarianPersendirian_OnlineHttpBinding" type="tns:CarianPersendirian_OnlinePortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkAccountByParam">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="checkAccountByParamRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkAccountByParamResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listKodDaerah">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="listKodDaerahRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listKodDaerahResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="senaraiDokumen">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="senaraiDokumenRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="senaraiDokumenResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateCarianAccount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateCarianAccountRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCarianAccountResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccountByNoLot">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="checkAccountByNoLotRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkAccountByNoLotResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccountStrataByParam">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="checkAccountStrataByParamRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkAccountStrataByParamResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccountStrataByNoLot">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="checkAccountStrataByNoLotRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkAccountStrataByNoLotResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listKodSeksyen">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="listKodSeksyenRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listKodSeksyenResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listKodLot">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="listKodLotRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listKodLotResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listKodMukim">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="listKodMukimRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listKodMukimResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="muatturundokumen">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="muatturundokumenRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="muatturundokumenResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listKodHakmilik">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="listKodHakmilikRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listKodHakmilikResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="checkAccountRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkAccountResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarianPersendirian_Online">
        <wsdl:port name="CarianPersendirian_OnlineHttpPort" binding="tns:CarianPersendirian_OnlineHttpBinding">
            <wsdlsoap:address location="http://192.168.0.10:7009/etanah/services/CarianPersendirian_Online"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
